:root {
    color-scheme: dark;
    background-color: black;
    color: white;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes showMessage {
    0% {
        opacity: 0;
        scale: 0;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        scale: 1;
        pointer-events: auto;
    }
}

.load-delay-1 {
    opacity: 0;
    animation: showMessage 0s 5s forwards;
}

.load-delay-2 {
    opacity: 0;
    animation: showMessage 0s 15s forwards;
}